# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/

# Logs
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Optional IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

